[submodule "third_party/Boxedwine"]
	path = third_party/Boxedwine
	url = https://github.com/doej13367/the-browsing-of-isaac-boxedwine.git
	branch = isaac-browser
[submodule "third_party/REPENTOGON"]
	path = third_party/REPENTOGON
	url = https://github.com/TeamREPENTOGON/REPENTOGON.git
